.broker-check {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.broker-check > img {
  margin-right: 100px;
}

.footer-block {
  width: 100%;
  min-height: 200px;
  background: #012e63;
  border-top: 5px solid #BA8748;
}

.footer-block > .row > .col-xs-12, .col-sm-12, .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.footer-block > .bottom-row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-block > .bottom-row > .footer-subtext > p {
  font-size: 12px;
  padding-bottom: 10px;
}

.footer-white {
  color: #fff;
  font-size: 16px;
}

.footer-grey {
  color: #aaa;
  font-size: 16px;
}
