* {
  font-family: 'Cantarell', sans-serif;
  /*font-family: 'Taviraj', serif;*/
}

html {
  cursor: default;
}

.branded {
  color: #012e63;
  font-style: normal;
  font-weight: bold;
}

.branded2 {
  color: #ba8748;
  font-style: italic;
}

body {
  background: url("/assets/images/things/boat.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  min-height: 700px;
  padding-top: 190px;
  box-sizing: border-box;
}

.inline-link {
  text-decoration: underline;
  color: #0645AD;
}

.section-title {
  color: #ba8748;
  font-size: 32px;
  font-style: italic;
}

.title-breaker {
  height: 1px;
  padding-left: 20%;
  padding-right: 20%;
  background: red;
}
