.nav-large {
  background: #fff;
  width: 100%;
  display: block;
  height: 200px;
  position: fixed;
}

.nav-large > .layer-top {
  border-bottom: 5px solid #012e63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.nav-large > .layer-top > .contact-info {
  color: #012e63;
  font-size: 16px;
  margin-right: 50px;
}

.nav-large > .layer-top > .contact-info > ul {
  list-style: none;
  text-align: right;
}

.nav-large > .layer-top > .contact-info > ul > .divider {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background: #eee;
}

.nav-large > .layer-top > .brand-logo {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-large > .layer-top > .brand-logo > img {
  height: 100px;
}

.nav-large > .layer-bottom {
  background: #BA8748;
  border-bottom: 5px solid #012e63;
  /*background: #012e63;
  border-bottom: 5px solid #BA8748;*/
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-large > .layer-bottom > ul {
  display: flex;
  align-content: center;
  height: 45px;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-large > .layer-bottom > ul > li {
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Taviraj', serif;
  text-align: center;
  /*border-right: 1px solid #012e63;*/
}

.nav-large > .layer-bottom > ul > .active {
  background: #012e63;
}

.nav-large > .small-menu {
  justify-content: flex-start;
  padding-left: 50px;
}

.nav-large > .small-menu > ul > .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.nav-large > .small-menu > ul > .hamburger > div {
  width: 35px;
  height: 3px;
  background: #fff;
  margin: 3px 0;
}

/********* DROPDOWN MENU **********/

.nav-large > .dropdown-nav {
  background: #012e63;
  color: #fff;
  width: 250px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
}

.nav-large > .dropdown-nav > ul {
  list-style: none;
}

.nav-large > .dropdown-nav > ul > li {
  padding: 5px 0;
}

.nav-large > .dropdown-nav > ul > li:hover {
  text-decoration: underline;
}

/********* RESPONSIVE DESIGN **********/

@media screen and (max-width: 720px) {
  .nav-large > .layer-top > .contact-info {
    font-size: 12px;
    margin-right: 10px;
  }

  .nav-large > .layer-top > .brand-logo > img {
    height: 65px;
  }
}

@media screen and (max-width: 1151px) {
  .nav-large > .large-menu {
    display: none;
  }
}

@media screen and (min-width: 1151px) {
  .nav-large > .small-menu {
    display: none;
  }
  .nav-large > .dropdown-nav {
    display: none;
  }
}
