<div class="broker-check">
  <img class="" style="min-width: 150px; max-width: 300px; width: 159px; height: 81px;" src="http://cdn.finra.org/brokercheck2210/images/bc-box-check_xsm.svg">
</div>
<div class="footer-block">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <p class="footer-white">Durable Wealth Management&nbsp;&copy;</p>
      <p class="footer-grey">Member LPL Financial / FINRA / SIPC / SEC</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <p class="footer-white">6000 Greenwood Plaza Blvd., Ste. 100</p>
      <p class="footer-white">Greenwood Village, CO 80111</p>
      <p class="footer-white">Office: 303.243.5720</p>
      <p class="footer-white">Cell: 303.250.0536</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <img src="/assets/images/things/linkedin-logo.png" alt="">
    </div>
  </div>
  <div class="row bottom-row">
    <div class="footer-subtext col-xs-8 col-sm-8 col-md-6">
      <p class="footer-grey">Securities offered through LPL Financial, Member FINRA/SIPC. Investment Advice offered through Western Wealth Management, a Registered Investment Advisor. Western Wealth Management and Durable Wealth Management are separate entities from LPL Financial.</p>
    </div>
  </div>
</div>
