<div class="nav-large">
  <div class="layer-top">
    <div class="brand-logo">
      <img src="/assets/images/things/DWM-logo.png" alt="Durable Wealth Management logo">
    </div>
    <div class="contact-info">
      <ul>
        <li>6000 Greenwood Plaza Blvd., Ste. 100</li>
        <li>Greenwood Village, CO 80111</li>
        <div class="divider"></div>
        <li>Office:&nbsp;&nbsp;303.243.5720</li>
        <li>Cell:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;303.250.0536</li>
      </ul>
    </div>
  </div>
  <div class="layer-bottom">
    <ul>
      <li class="active-section">Home</li>
      <li>Our Story</li>
      <li>Our Team</li>
      <li>Quality Services Offered</li>
      <li>The Durable Press</li>
      <li>Market Peeks Newsletter</li>
      <li>Contact</li>
    </ul>
  </div>
</div>
