<main>
  <section class="story">
    <p class="section-title">Our Story</p>
    <!-- <div class="title-breaker"></div> -->
    <p>Welcome to <span class="branded">DURABLE</span>&nbsp;<span class="branded2">Wealth&nbsp;Management</span>.  Our process begins with listening.  Our firm was founded on the principle that everyone’s situation is different and we never use a cookie cutter approach to solving our clients’ financial challenges.  So it’s important to us that we have an open dialogue about what’s important about money. . . to you.</p>
    <p>Through our clear, objective and unbiased system of consultation, we know your voice will be heard and your concerns will be addressed each time, every time.</p>
    <p>We are Retirement Planning Specialists and combine over two decades of deep and knowledgeable experience helping people just like you solve the challenges of navigating the road to and through Retirement.</p>
    <p>So welcome aboard… look around.  <span ui-sref="team" class="inline-link">Meet&nbsp;the&nbsp;team</span>.  Have a question or comment?  Give us a call, or go <span ui-sref="contact" class="inline-link">here</span> and fill out the form.  BUT be sure to request an appointment before you go.  Because…</p>
    <p class="branded-statement">When&nbsp;it’s&nbsp;time&nbsp;to&nbsp;talk&nbsp;Retirement, shouldn’t&nbsp;you&nbsp;talk&nbsp;with&nbsp;a&nbsp;Specialist?&nbsp;™</p>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <iframe class="video" width="444" height="250" src="https://www.youtube.com/embed/Yr4jn5Y_lO8" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="/assets/images/things/award.jpg" alt="">
        <p class="award-year">Since 1991</p>
        <a class="background-link" href="https://brokercheck.finra.org/">"Check the background of investment professionals associated with this site on FINRA’s Broker Check”</a>
      </div>
    </div>

  </section>
</main>
